/*Form login page styling*/
.form-header {
  text-align: center;
}

.form-header h5 {
  font-style: italic;
}

form {
  border-style: solid;
  border-radius: 0.5em;
  padding: 2em 12em;
  margin: 2em;
}

#login {

}

.btn-primary {
  margin-top: 0.5em;
  text-align: center;
}
/*/Form login page styling*/

/*Card Styling*/


/*Picture uploading page*/
#pic-page {
  text-align: center;
}

#pic-body {
  border: solid 0.25em;
  margin: 3em 0.5em 0em;
  padding: 2.5em;
}

#upload-img-btn {
  display: block;
  text-align: center;
  margin:0 auto;
}

#upload-img-browse {
  text-align: center;
}

/*FontAwesomeIcon loading for round 1 start*/
.loading-icon {
  font-size: 4em;
  color: #caccce;
  /*necessary for horizontaly centering FontAwesomeIcon*/
  display: inline-block;
  width: 100%;
  /*necessary for vertically centering FontAwesomeIcon*/
  position: absolute;
  left: 25%;
  top: 30%;
  z-index: 2;
  animation: 3s infinite rotate;
}

.finished-icon {
  font-size: 4em;
  color: #6eef72;
  /*necessary for horizontaly centering FontAwesomeIcon*/
  display: inline-block;
  width: 100%;
  /*necessary for vertically centering FontAwesomeIcon*/
  position: absolute;
  left: 25%;
  top: 30%;
  z-index: 2;
}

/*will rotate FontAwesomeIcon*/
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-progress {
  background-color: #d8d8d8;
}

/*Game Start*/
#game-start h2{
  text-align: center;
}

.players-list .card{
  width: 20%;
  display: inline-block;
}

/*Loading Image*/
.loading-img {
  margin: 10% auto;
}

.loading h2 {
  text-align: center;
}

/*Research Login Page*/
#research-sec h2,p{
  text-align: center;
}

/*Round 1 start page*/
#round1-start {
  font-size: 0.75em;
  padding: 1em;
}

#round1-start-left h3{
    margin-top: 0.5em;
}

#round1-start-left h3,p {
  text-align: left;
}

#round1-start-left .visible {
  background-color: #d9e6fc;
}

.btn-file {
}
